.places {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto;
}

@media screen and (max-width: 1152px) {
  .places {
    margin: 0;
    padding: 0 48px;
  }
}

@media screen and (max-width: 896px) {
  .places {
    gap: 73px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 720px) {
  .places {
    gap: 50px;
    padding: 0;
  }
}