.place__image {
  max-width: 460px;
  height: 460px;
  object-position: bottom;
  object-fit: cover;
}

@media screen and (max-width: 1152px){
  .place__image {
    max-width: 440px;
    height: 440px;
  }
}

@media screen and (max-width: 896px){
  .place__image {
    max-width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 720px){
  .place__image {
    height: 320px;
    max-width: 100%;
    width: 100%;
  }
}