.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 52px;
  margin: 0 48px;
}

@media screen and (max-width: 896px) {
  .header {
    margin: 0 24px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    height: 42px;
    margin: 0 16px;
  }
}