.lead__lead-route {
  position: absolute;
  background-image: url(../../../images/lead-route.svg);
  margin: auto;
  width: 95%;
  height: 43%;
  left: 0;
  right: 0;
  top: 15%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-position: center;
}