.lead__image {
  width: 100%;
  height: 615px;
  object-position: center;
  object-fit: cover;
}

@media screen and (max-width: 1152px) {
  .lead__image {
    height: 580px;
  }
}

@media screen and (max-width: 1020px) {
  .lead__image {
    height: 530px;
  }
}

@media screen and (max-width: 940px) {
  .lead__image {
    height: 480px;
  }
}

@media screen and (max-width: 760px) {
  .lead__image {
    height: 380px;
  }
}

@media screen and (max-width: 620px) {
  .lead__image {
    height: 330px;
  }
}

@media screen and (max-width: 544px) {
  .lead__image {
    height: 280px;
}
}

@media screen and (max-width: 460px) {
  .lead__image {
    height: 200px;
}
}