.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  max-width: 640px;
  margin-top: 0;
  margin-bottom: 64px;
}

@media screen and (max-width: 1152px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    max-width: 500px;
    margin: 0 16px 40px;
  }
}

@media screen and (max-width: 544px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    max-width: 288px;
    margin: 0 16px 40px;
  }
}