.cover {
  box-sizing: border-box;
  background-image: url(../../images/cover-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1184px;
  min-height: 740px;
  margin: 0 48px;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1152px) {
  .cover {
    min-height: 640px;
    margin: 0;
  }
}

@media screen and (max-width: 896px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 720px) {
  .cover {
    min-height: 200px;
  }
}