.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  column-gap: 40px;
  row-gap: 48px;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
}

@media screen and (max-width: 1152px) {
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 896px) {
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }
}

@media screen and (max-width: 720px) {
  .place {
    grid-template-columns: 100%;
    row-gap: 32px;
  }
}